<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Standard" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=Demo;Uid=dbuser;Pwd=secret;"/>
  </connectionStrings>
  <appSettings>
    <add key="demo" value="123"/>
  </appSettings>
</configuration>